.Rproj.user
.Rhistory
.RData
.Ruserdata
Analyses/Legrand reanalysis/workspace
Analyses/Legrand reanalysis/ICC/workspace
workspace psychometric/
Analyses/Power analysis/power analysis results/Full poweranalysis workspace.RData